@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';

header {
  height: 5rem;
  width: 100%;

}

.flex {
  display: flex;

  &-space {
    flex-grow: 1;
  }

  &-item {
    align-items: center;
    margin: 0 1.5rem;
  }
}

.user-selection-btn {
  @include center-flex;

  .cls-1 {
    fill: $gray-primary;
  }

}

.user-name {
  @include center-flex;
  @include font-accent;
}

.cf-logo {
  @include center-flex;
}

.menu-btn {
  @include center-flex;
}