<div class="relative inline-block text-left">
    <app-menu-trigger (toggleMenu)="toggleMenu()"></app-menu-trigger>
    <app-menu-container [isOpen]="menuOpen">
        <app-menu-item label="Home" route="/"></app-menu-item>
        <app-menu-item label="Dashboard" route="/dashboard"></app-menu-item>
        <app-menu-item label="About" route="/about"></app-menu-item>
        <app-menu-item label="Settings" route="/settings"></app-menu-item>
        <app-menu-item label="Log out" route="/log-out"></app-menu-item>
    </app-menu-container>
</div>