@mixin center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#ececec, #b6b6b6);

  &__text-container {
    width: 80%;
    height: 5rem;
    border: 2px solid #555555;
    border-radius: 1rem;
    cursor: text;
    position:relative;
    background: #f8f8f8;
    overflow: hidden;
    margin: auto;
  }

  &__text {
    font-size: 3rem;
    white-space: pre;
    &--wrote {
      @include center;
      left: auto;
      right: 50%;
      transform: translate(0, -50%);
      color: grey;
      //color: #00b704;
    }

    &--current {
      //color: #00b704;
      font-weight: bold;
    }

    &--to-write {
      @include center;
      transform: translate(0, -50%);
    }

    &--placeholder {
      @include center;
      color: rebeccapurple;
    }
  }

  &__tooltip {
    @include center;
    transform: translate(-50%, 0);
    top: calc(50vh + 2.5rem + 1rem);
    font-size: 2rem;
    color: #140067;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
}
