@import './app/theme/mixins.scss';
@import './app/theme/variables.scss';

* {
  transition: all 0.25s ease-out;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}